<!DOCTYPE html>
<html lang="en" data-ng-app="website">

<head>
    <meta charset="utf-8">
    <title>Fortino Dental | General Family & Cosmetic Dentistry in Ancaster, ON</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="description" content="Fortino Dental is a comprehensive dental office conveniently located in beautiful Ancaster and serves the Ancaster, Dundas, Hamilton and surrounding communities.">
    <meta name="keywords" content="dentist near me, dentist Ancaster Ontario, dentist Hamilton Ontario, dentist Dundas Ontario, dentist Burlington Ontario, dentist Waterdown Ontario, invisalign near me, wisdom teeth removal near me, botox near me, lip filler near me">
    <meta name="geo.region" content="CA-ON" />
    <meta name="geo.placename" content="Hamilton" />
    <meta name="geo.position" content="43.228181;-79.975877" />
    <meta name="ICBM" content="43.228181, -79.975877" />
    <meta name="author" content="Bernadette Estacio">
    <link rel="canonical" href="http://www.fortinodental.com/">
    <link rel="shortcut icon" href="assets/img/logo-favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="assets/css/styles.css" rel="stylesheet">
    <link href="assets/css/misc.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="https://tntwebsites.com/tnticons/css/fontello.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,500,700,700i,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>

<body class="page_index">

<h1 class="seo">Fortino Dental</h1>
<h2 class="seo">General Family & Cosmetic Dentistry in Ancaster, ON</h2>

<header>
    <div class="place-nav">
        <a title="Fortino logo" class="logo" href="http://www.fortinodental.com/">
            <img alt="Fortino Dental logo" src="assets/img/logo-fortino-dental2.jpg"/></a>

        <nav id="desktop-nav">
            <ul>
                <li><a href="index.html" title="Home">Home</a></li>
                <li><a href="about.html" title="About us">About</a>
                    <ul>
                        <li><a href="about-our-dentist.html" title="Dentist">Our Dentist</a></li>
                        <li><a href="about-our-periodontist.html" title="Periodontist">Our Periodontist</a></li>
                        <li><a href="about-our-team.html" title="Team">Our Team</a></li>
                        <li><a href="about-our-office.html" title="Office">Our Office</a></li>
                    </ul>
                </li>
                <li><a href="services.html" title="Dental Services">Services</a>
                    <ul>
                        <li><a href="services-routine.html" title="Routine/Emergency Exams">Routine/Emergency Exams</a></li>
                        <li><a href="services-dental-hygiene.html" title="Dental Hygiene">Dental Hygiene</a></li>
                        <li><a href="services-dental-fillings.html" title="Dental Fillings">Dental Fillings</a></li>
                        <li><a href="services-crowns-bridges-veneers.html" title="Crowns, Bridges, Veneers">Crowns, Bridges, Veneers</a></li>
                        <li><a href="services-roots-canals.html" title="Roots Canals">Roots Canals</a></li>
                        <li><a href="services-teeth-whitening.html" title="Teeth Whitening">Teeth Whitening</a></li>
                        <li><a href="services-invisalign.html" title="Invisalign">Invisalign</a></li>
                        <li><a href="services-dental-implants.html" title="Dental Implants">Dental Implants</a></li>
                        <li><a href="services-wisdom-teeth-removal.html" title="Wisdom Teeth Removal">Wisdom Teeth Removal</a></li>
                        <li><a href="services-sedation.html" title="Sedation">Sedation</a></li>
                        <li><a href="services-dentures.html" title="Partial and Complete Dentures">Partial and Complete Dentures</a></li>
                        <li><a href="services-botox.html" title="Botox">Botox</a></li>
                        <li><a href="services-lip-fillers.html" title="Lip Fillers">Lip Fillers</a></li>
                        <li><a href="services-nightguards-sportsguards.html" title="Nightguards and Sportsguards">Nightguards and Sportsguards</a></li>
                        <li><a href="services-periodontics.html" title="Periodontist">Periodontics</a></li>
                    </ul>
                </li>

                <li><a href="gallery.html" title="Gallery">Gallery</a>
                </li>

                <li><a href="patients.html" title="">Patients</a>
                </li>
                <li><a href="contact.html" title="Contact Us">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main class="clearfix">
    <div class="index">
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel"  data-interval="4000">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="assets/img/main1.jpg" alt="Dr. Joseph Fortino" width="1200">
                </div>

                <div class="item">
                    <img src="assets/img/main2.jpg" alt="Botox" width="1200">
                </div>

                <div class="item">
                    <img src="assets/img/main3.jpg" alt="Invisalign" width="1200">
                </div>

                <div class="item">
                    <img src="assets/img/main4.jpg" alt="Dental Child Patient" width="1200">
                </div>

                <div class="item">
                    <img src="assets/img/main5.jpg" alt="Dr. Joseph Fortino" width="1200">
                </div>

                <div class="item">
                    <img src="assets/img/main6.jpg" alt="Fortino office building" width="1200">
                </div>

                <div class="item">
                    <img src="assets/img/main7.jpg" alt="Fortino Dental Staff" width="1200">
                </div>

                <div class="item">
                    <img src="assets/img/main8.jpg" alt="Fortino Dental Business Card" width="1200">
                </div>
            </div>
        </div>

        <section class="container intro">
            <h2><strong>Fortino Dental</strong></h2>
            <h3>Dentistry for the Entire Family!</h3>

            <p>Fortino Dental is a comprehensive dental office conveniently located in beautiful Ancaster and serves the Ancaster, Dundas, Hamilton and surrounding communities.</p>
            <p>The office is operated by <strong>Dr. Joseph Fortino</strong> and his highly trained and professional staff.</p>
            <p>Fortino Dental strives to provide the best in general and cosmetic dentistry to the community by offering the most conservative and innovative options available in dentistry today.</p>

            <ul>
                <li>24-hr Support</li>
                <li>Open 6 days a week</li>
                <li>Direct Billing</li>
            </ul>
        </section>

        <section data-ng-controller="PanelController as panel" id="switch">
            <h2 class="style-one">Featured Dental Services</h2>
            <ul id="nav">
                <li data-ng-class="{ active:panel.isSelected(1)}">
                    <a href data-ng-click="panel.selectTab(1)">
                        <span><span>Invisalign<sup>®</sup></span> <small>Clear Braces</small></span>
                    </a>
                </li>
                <li data-ng-class="{ active:panel.isSelected(2)}">
                    <a href data-ng-click="panel.selectTab(2)">
                        <span>Dental Implants</span>
                    </a>
                </li>
                <li data-ng-class="{ active:panel.isSelected(3)}">
                    <a href data-ng-click="panel.selectTab(3)">
                        <span>Wisdom Teeth Removal</span>
                    </a>
                </li>
                <li data-ng-class="{ active:panel.isSelected(4)}">
                    <a href data-ng-click="panel.selectTab(4)">
                        <span>Botox / Lip Fillers</span>
                    </a>
                </li>
                <li data-ng-class="{ active:panel.isSelected(5)}">
                    <a href data-ng-click="panel.selectTab(5)">
                        <span>Teeth Whitening</span>
                    </a>
                </li>
            </ul>
            <div class="rotation">

                <div data-ng-show="panel.isSelected(1)" class="featured-service">
                    <article class="t-r" id="invisalign">
                        <h2 class="style-one"><span>Invisalign<sup>®</sup></span> Clear Braces</h2>
                        <p>Invisalign is one method of orthodontic treatment that can straighten your smile through a series of invisible, removable and comfortable aligners that virtually no one can tell you are wearing.
                            Invisalign trays are removable for cleaning and changing to a new set as your teeth move and straighten over time. </p>
                        <a href="services-invisalign.html" title="learn more" class="btn">Learn more</a>
                    </article>
                    <figure>
                        <img alt="Invisalign" src="assets/img/home-services-invisalign.jpg" height="450" width="450"/>
                    </figure>
                </div>
                <div data-ng-show="panel.isSelected(2)" class="featured-service">
                    <article>
                        <h2 class="style-one">Dental Implants</h2>
                        <p>Dental implants are the closest possible alternative to actual tooth replacement.
                            With proper care, maintenance, and regular checkup visits with your dentist, dental implants are designed to last for life.</p>
                        <a href="services-dental-implants.html" title="learn more" class="btn">Learn more</a>
                    </article>
                    <figure>
                        <img alt="Dental Implants" src="assets/img/home-services-implant.jpg" height="450" width="450"/>
                    </figure>
                </div>
                <div data-ng-show="panel.isSelected(3)" class="featured-service">
                    <article>
                        <h2 class="style-one">Wisdom Teeth Removal</h2>
                        <p>Wisdom teeth do not always have to cause you pain or cause future problems. The movement of surrounding teeth caused by wisdom teeth is often slow, and may not cause any pain.
                            However, if you or a loved one have had braces or other treatment, crowding from wisdom teeth can potentially undo that work, resulting in crooked and misaligned teeth and jaws, as well as wisdom teeth pain.</p>
                        <a href="services-wisdom-teeth-removal.html" title="learn more" class="btn">Learn more</a>
                    </article>
                    <figure>
                        <img alt="Wisdom Teeth Removal" src="assets/img/home-services-wisdom.jpg" height="450" width="450"/>
                    </figure>
                </div>
                <div data-ng-show="panel.isSelected(4)" class="featured-service">
                    <article id="botox">
                        <h2 class="style-one">Botox</h2>
                        <p>We offer Botox therapeutics to patients looking for pain relief from tension type migraine headaches, TMJ pain and bruxism (grinding of the teeth and teeth clenching).</p>
                        <a href="services-botox.html" title="learn more" class="btn">Learn more</a>

                        <h2 class="style-one">Lip Fillers</h2>
                        <p>You might want to try lip fillers, which add or restore fullness to your lips.
                            Getting lip fillers – which is also known as ‘lip enhancement’ or ‘lip augmentation’ – is relatively painless, and you’ll see the results immediately.</p>
                        <a href="services-lip-fillers.html" title="learn more" class="btn">Learn more</a>
                    </article>
                    <figure>
                        <img alt="Botox and Lip Filler" src="assets/img/home-services-botox-filler.jpg" height="450" width="450"/>
                    </figure>
                </div>
                <div data-ng-show="panel.isSelected(5)" class="featured-service">
                    <article>
                        <h2 class="style-one">Teeth Whitening</h2>
                        <p>Professional in-office teeth whitening as well as follow-up home whitening can be a very visible and cost-effective way to transform your smile to it’s brightest.
                            At our office we use the Wicked White tooth whitening system.
                        </p>
                        <a href="services-teeth-whitening.html" title="learn more" class="btn">Learn more</a>
                    </article>
                    <figure>
                        <img alt="Teeth Whitening" src="assets/img/home-services-whitening.jpg" height="450" width="450"/>
                    </figure>
                </div>
            </div>
        </section>

        <section id="assoc" class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img alt="Ontario Dental Association logo" src="assets/img/assoc-oda.png" height="80"/>
                </div>
                <div class="col-sm-4">
                    <img alt="Canadian Dental Association logo" src="assets/img/assoc-cda.png" height="80"/>
                </div>
                <div class="col-sm-4">
                    <img alt="Royal College of Dental Surgeons of Ontario logo" src="assets/img/assoc-rcdso.png" height="80"/>
                </div>
            </div>
        </section>

        <section id="reviews">
            <div class="container">
                <div class="side-by-side">
                    <a href="#" title="prev" class="arrow" id="prev"><i class="icon-angle-left"></i></a>
                    <a href="#" title="next" class="arrow" id="next"><i class="icon-angle-right"></i></a>
                    <div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="2500"
                         data-cycle-slides="> article" data-cycle-auto-height=calc data-cycle-pager="#reviews .pager"
                         data-cycle-pager-template="<span></span>" data-cycle-prev="#reviews #prev"
                         data-cycle-next="#reviews #next">
                        <article>
                            <i class="icon-gplus"></i>
                            <p>Dr. Fortino and his staff are friendly, thorough and very good at what they do.
                                I just have to say over the years I've been to many dentists who have poorly taken care of my teeth.
                                Dr. Fortino is the best and has got my mouth back in shape again.
                                I highly recommend his practice to you. </p>
                            <star></star>
                            <author>Mike DiPaolo</author>
                        </article>
                        <article>
                            <i class="icon-gplus"></i>
                            <p>There are not enough wonderful things I can say about Dr. Joe Fortino.
                                He is Excellent in his profession and truly goes out of his way to take care of his patients.
                                He takes the time to explain things in detail and is never too busy to see you and will try to fit you in to accommodate you at best.
                                Removed 4 of my wisdom teeth and made me feel much better.
                                His staff is pleasent, friendly and always happy.
                                They all make the experience of visiting his office so much fun.
                                They greet everyone as they are special and I can't imagine a staff greater than these people.
                                They all work so well together. He has an amazing team/work family and I am so honoured to be part of his clients.
                                Keep up the fantastic work!!! </p>
                            <star></star>
                            <author>Angie B</author>
                        </article>
                        <article>
                            <i class="icon-gplus"></i>
                            <p>Dr. Fortino is an excellent dentist.
                                He is very thorough and caring.
                                Dr. Fortino did my Invisalign and I could not be happier with the results.
                                I would recommend him to anyone.</p>
                            <star></star>
                            <author>Jessica Barry</author>
                        </article>
                        <article>
                            <i class="icon-gplus"></i>
                            <p>Having just moved in to Ancaster i needed a new dentist.
                                A friend told me about a new dentist that was accepting patients so I gave them a call.
                                I am so glad I did.
                                Dr Joe is a really nice guy and had my tooth problem fixed in no time.
                                I would recommend Dr Joe to anyone looking for a new dentist in the Hamilton Ancaster area.</p>
                            <star></star>
                            <author>Susan Susan</author>
                        </article>
                    </div>
                </div>
                <div class="pager"></div>
                <a href="https://www.google.com/maps/place/Fortino+Dental/@43.2281938,-79.9780848,17z/data=!3m1!4b1!4m7!3m6!1s0x882c85b02e6d0515:0x55ad74eec24782dc!8m2!3d43.2281938!4d-79.9758961!9m1!1b1"
                   title="read more reviews" class="btn" target="_blank">Read More Reviews</a>
            </div>
        </section>

        <section id="ig" class="clearfix">
            <img alt="Instagram logo" src="assets/img/social-ig-header.jpg"/>
            <div id="instafeed-gallery-feed" class="icarousel">
            </div>
            <a href="https://www.instagram.com/fortinodental/" title="instagram" target="_blank">Follow us <span>@fortinodental</span></a>
        </section>

        <section id="map">
            <!--<img alt="Find us" src="assets/img/text-map-header.png"/>-->
            <iframe allowfullscreen="" frameborder="0" height="450"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.1080701699743!2d-79.97808478451597!3d43.228193779138124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882c85b02e6d0515%3A0x55ad74eec24782dc!2sFortino+Dental!5e0!3m2!1sen!2sus!4v1539802370967"
                    style="border:0" width="600"></iframe>
        </section>
    </div>
</main>

<footer class="footer-section"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="assets/js/foundation.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/counter.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/menu.js"></script>
<script src="assets/js/footer.js"></script>
<!-- Developed by Bernadette Estacio Engleman -->
</body>
</html>
